.App {
  text-align: center;
  width: 100vw;
}

*{
  box-sizing: border-box;
}

.nav{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 8px 20px;
}

.nav div {
  margin-left: 20px;
}

.nav img {width: 45px; height: auto;}

.people-list{
  display: flex;
  gap: 60px;
  width: 90%;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
}
.person-item{
  width: 33%;
  border: 1px solid black;
  border-radius: 15px;
}
.person-item img {
  max-width: 150px;
  
}
.thisPerson{
  margin-top: 60px;
}
.thisPerson img {
  max-width: 150px;
}
.spinner {
width: 24px;
animation: loading infinite 3s linear;
}

@keyframes loading{
from{
  transform: rotateZ(0deg);
}
to{
  transform: rotateZ(360deg);
}
}

